
<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib Form</title>
    <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

  </head>
  <body>
    <div class = "jumbotron">
    <h1>What battle will you fight?!</h1>
    </div>
    <form action="/" method="post">
      <label for="noun1">Enter a Noun:</label>
      <input id="noun1" name="noun1" type="text">

      <label for="noun2">Enter a Noun:</label>
      <input id="noun2" name="noun2" type="text">

      <label for="noun3">Enter a Noun:</label>
      <input id="noun3" name="noun3" type="text">

      <label for="noun4">Enter a Noun:</label>
      <input id="noun4" name="noun4" type="text">

      <label for="noun5">Enter a Noun:</label>
      <input id="noun5" name="noun5" type="text">

      <label for="occupation">Enter a Occupation:</label>
      <input id="occupation" name="occupation" type="text">

      <label for="verb">Enter a Verb:</label>
      <input id="verb" name="verb" type="text">

      <label for="place">Enter a Place:</label>
      <input id="place" name="place" type="text">

      <label for="verbEd">Enter a Verb ending in -ed:</label>
      <input id="verbEd" name="verbEd" type="text">

      <label for="verbIng">Enter a Verb ending in -ing:</label>
      <input id="verbIng" name="verbIng" type="text">

      <label for="nounPlural">Enter a Noun ending in -s</label>
      <input id="nounPlural" name="nounPlural" type="text">

      <label for="emotion">Enter a emotion:</label>
      <input id="emotion" name="emotion" type="text">
      <button class="btn btn-primary" type="submit">LET THE WAR BEGIN!</button>
    </form>
  </body>
</html>
